.panel{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.panel-heading{
    background: navajowhite;
    height: 263px;
    width: 100%;
    display: none;
}

#toggle{
    display: block;
    margin: auto;
}